---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
<!--        <script async src="/ga.js"></script>-->
<!--        <script src="//www.google-analytics.com/cx/api.js"></script>-->
            <meta name="google-signin-client_id" content="345592105754-dspq32qjv8kvrhbk06cfdmdng3q8khni.apps.googleusercontent.com">
            <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
            <script>
                // Replace with your view ID.
                var VIEW_ID = '182644519';
                
                // Query the API and print the results to the page.
                function queryReports() {
                    gapi.client.request({
                                        path: '/v4/reports:batchGet',
                                        root: 'https://analyticsreporting.googleapis.com/',
                                        method: 'POST',
                                        body: {
                                        reportRequests: [
                                                         {
                                                         viewId: VIEW_ID,
                                                         dateRanges: [
                                                                      {
                                                                      startDate: '7daysAgo',
                                                                      endDate: 'today'
                                                                      }
                                                                      ],
                                                         metrics: [
                                                                   {
                                                                   expression: 'ga:sessions'
                                                                   }
                                                                   ]
                                                         }
                                                         ]
                                        }
                                        }).then(displayResults, console.error.bind(console));
                }

            function displayResults(response) {
                var formattedJson = JSON.stringify(response.result, null, 2);
                document.getElementById('query-output').value = formattedJson;
            }
            </script>

            <!-- Load the JavaScript API client and Sign-in library. -->
            <script src="https://apis.google.com/js/client:platform.js"></script>
            
            
            <span id="busuanzi_container_page_pv">READ：{{formattedJson}}</span> <span id="busuanzi_container_page_pv">TIMES</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
