---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
<!--        <script async src="/ga.js"></script>-->
<!--        <script src="//www.google-analytics.com/cx/api.js"></script>-->
            <head>
            <meta name="google-signin-client_id" content="345592105754-dspq32qjv8kvrhbk06cfdmdng3q8khni.apps.googleusercontent.com">
            <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
            </head>
                <!-- The Sign-in button. This will run `queryReports()` on success. -->
<!--            <p class="g-signin2" data-onsuccess="queryReports"></p>-->
<!--            <button type="button" onclick="myFunction()">Try it</button>-->


            <script src="https://apis.google.com/js/api.js"></script>
            <script>
                function start() {
                    // 2. Initialize the JavaScript client library.
                    gapi.client.init({
                                     'apiKey': 'AIzaSyB6M6_yxspHuY0E_VO2O8FYRgq_zkR7X_A',
                                     // Your API key will be automatically added to the Discovery Document URLs.
                                     'discoveryDocs': ['https://people.googleapis.com/$discovery/rest'],
                                     // clientId and scope are optional if auth is not required.
                                     //'clientId': 'YOUR_WEB_CLIENT_ID.apps.googleusercontent.com',
                                     //'scope': 'profile',
                                     }).then(function() {
                                             // 3. Initialize and make the API request.
                                             return gapi.client.people.people.get({
                                                                                  'resourceName': 'people/me',
                                                                                  'requestMask.includeField': 'person.names'
                                                                                  });
                                             }).then(function(response) {
                                                     console.log(response.result);
                                                     }, function(reason) {
                                                     console.log('Error: ' + reason.result.error.message);
                                                     });
                };
                // 1. Load the JavaScript client library.
                gapi.load('client', start);
            </script>
<!--            <div id="results"></div>-->

            <script>
                // Replace with your view ID.
                var VIEW_ID = '182644519';
                // Query the API and print the results to the page.
                
                function queryReports() {
                    gapi.client.request({
                                        path: '/v4/reports:batchGet',
                                        root: 'https://analyticsreporting.googleapis.com/',
                                        method: 'POST',
                                        body: {
                                        reportRequests: [
                                                         {
                                                         viewId: VIEW_ID,
                                                         dateRanges: [
                                                                      {
                                                                      startDate: '7daysAgo',
                                                                      endDate: 'today'
                                                                      }
                                                                      ],
                                                         metrics: [
                                                                   {
                                                                   expression: 'ga:sessions'
                                                                   }
                                                                   ]
                                                         }
                                                         ]
                                        }
                                        }).then(displayResults,error_displayResults);//console.error.bind(console));
                }
            
                function displayResults(response) {
                    var formattedJson = JSON.stringify(response.result, null, 2);
                    document.getElementById('times').innerHTML= formattedJson.reports[0].data.rows[0].metrics[0].values;
                }
                function error_displayResults() {
                    var formattedJson={
                        "reports": [
                                    {
                                    "columnHeader": {
                                    "metricHeader": {
                                    "metricHeaderEntries": [
                                                            {
                                                            "name": "ga:sessions",
                                                            "type": "INTEGER"
                                                            }
                                                            ]
                                    }
                                    },
                                    "data": {
                                    "rows": [
                                             {
                                             "metrics": [
                                                         {
                                                         "values": [
                                                                    "2"
                                                                    ]
                                                         }
                                                         ]
                                             }
                                             ],
                                    "totals": [
                                               {
                                               "values": [
                                                          "2"
                                                          ]
                                               }
                                               ],
                                    "rowCount": 1,
                                    "minimums": [
                                                 {
                                                 "values": [
                                                            "2"
                                                            ]
                                                 }
                                                 ],
                                    "maximums": [
                                                 {
                                                 "values": [
                                                            "2"
                                                            ]
                                                 }
                                                 ]
                                    }
                                    }
                                    ]
                    };
                    document.getElementById('times').innerHTML = formattedJson.reports[0].data.rows[0].metrics[0].values;//"error"; //
                }
                window.onload = queryReports;
            </script>
            <!-- Load the JavaScript API client and Sign-in library. -->
            <script src="https://apis.google.com/js/client:platform.js"></script>

            <span id="busuanzi_container_page_pv">READ &nbsp;&nbsp;</span><span id="times"> </span> <span id="busuanzi_container_page_pv"> &nbsp;&nbsp;TIMES</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
